* {
    margin: 0;
    padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
body {
    margin: 0;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "hr"
        "nv"
        "ct"
        "ft";

}

header {
    height: 30vw;
}

.hero-image {
    background-image: url(imgs/hero-img2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    position: relative;
    display: grid;
    grid-area: "hr";


}

.productlist img {
  filter: grayscale(100%);
  transition: all 0.4s;
}

.product:hover img {
  filter: grayscale(30%);
}

.productlist > section > h2 {
    grid-column: 1/-1;
    margin-bottom: -40px;
}

.product {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 5px #000000ab;
  position: relative;
}

.product p {
  color: var(--font-color-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
}

.productbody {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.productbody button {
  margin-top: auto;
  background-color: var(--secondary-light);
  color: #fff;
  border: 0;
  padding: 8px;
  font-size: 1.3rem;
  cursor: pointer;
}
